<!DOCTYPE html>
<html>
<head>
  <title>Utfpr gp engine</title>
  <%= stylesheet_link_tag    "utfpr_gp_engine/application", media: "all" %>
  <%= javascript_include_tag "utfpr_gp_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
